.gallery {
    display: none;
    margin: 0 auto;
    max-width: 1440px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery.is-shown {
    display: flex;
}

.loader:hover,
.loader:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-params {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    padding: 4px;
    text-align: center;
    border: 1px solid gray;
}

.gallery li {
    flex-basis: calc((100%-40px)/3);
}

.gallery-image {
    width: 360px;
    max-height: 200px;
    object-fit: cover;
}

.modal {
    max-width: 1440px;
    max-height: 696px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.modal-img {
    max-width: 1112px;
    max-height: 640px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}